/* 
#faq__accordian-main-wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 20px; 
  line-height: 1.6;
} */
.faq__accordion-content {
	border: 1px solid #004D66;
        padding: 30px;
        /* transition: all 0.3s ease-in-out;   */
        margin: 30px 0;
}


.faq__accordion-content .posted-on,
.separator {
  margin-right: 18px; 
  font-size: 1.1rem;
}

.faq__accordion-content .posted-on:first-child {
  margin-right: 18px; 
}

.faq__accordion-content .separator {
  color: #909090; 
}

.faq__accordion-content h5 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #004D66;
}


.faq__accordion-content .line { 
  height: 1px;
  background-color: #00000050; 
  transform: translateY(-50%);
  margin: 30px 0;
}

.faq__accordion-content h2 { 
  color: #004D66;
}



.faq__accordian-heading {
	background-color: #fcfcfc63;
	padding: 25px;
	display: block;
	margin-bottom: 15px;
	position: relative;
  border: 1px solid #D9D9D9;
  transition: all 0.3s ease-in-out;
}

.faq__accordian-heading .ctaBtn1 {
  position: relative;
  display: inline-block;
  min-width: 170px;
  padding: 0.5rem 2.5rem;
  overflow: hidden;
  transition: all .3s ease;
  z-index: 1;
  background: none; 
  color: #000; 
  border: 2px solid transparent;
  border-radius: 1px;   
  border-image: linear-gradient(90deg, #00B4F6, #4D9ADC, #8482C9, #B06BB8, #BA66B4, #DE53A7) 1;
  border-image-slice: 1;}





  .faq__accordian-heading:hover .ctaBtn1 {
    color: #fff; 
    border-color: transparent;
    background: linear-gradient(90deg, #00B4F6, #4D9ADC, #8482C9, #B06BB8, #BA66B4, #DE53A7);
  }

.faq__accordian-heading h4 {
  font-size: 1.1rem;
  text-transform: uppercase;    
  position: relative;  
  margin-bottom: 20px;
}

.faq__accordian-heading:hover h4 {
  color: #004D66;
}





.faq__accordian-heading .date-container {
  display: flex;
  align-items: center;
}

.faq__accordian-heading .posted-on,
.separator {
  margin-right: 18px; 
}

.faq__accordian-heading .posted-on:first-child {
  margin-right: 18px; 
}

.faq__accordian-heading .separator {
  color: #909090; 
}

@media (max-width: 575.98px) { 
  .faq__accordian-heading .date-container {
    display: inline;
    align-items: center;
  }
 }


.faq__accordian-heading:hover {
	background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.faq__accordian-heading::before {	
	color: #ff6c3a;	
	position: absolute;
	left: 20px;
	top: 50%;
	-webkit-transition: 0.3s linear all;
	-moz-transition: 0.3s linear all;
	-ms-transition: 0.3s linear all;
	-o-transition: 0.3s linear all;
	transition: 0.3s linear all;
	-webkit-transform: translateY(-50%) rotate(0deg);
	-moz-transform: translateY(-50%) rotate(0deg);
	-ms-transform: translateY(-50%) rotate(0deg);
	-o-transform: translateY(-50%) rotate(0deg);
	transform: translateY(-50%) rotate(0deg);
}

.faq__accordian-heading.active {
	background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.faq__accordian-heading.active h4{
  color: #004D66;
}

.faq__accordian-heading.active .ctaBtn1 {
  color: #fff; 
  border-color: transparent;
  background: linear-gradient(90deg, #00B4F6, #4D9ADC, #8482C9, #B06BB8, #BA66B4, #DE53A7);
}

.faq__accordian-heading.active::before {
	-webkit-transition: 0.3s linear all;
	-moz-transition: 0.3s linear all;
	-ms-transition: 0.3s linear all;
	-o-transition: 0.3s linear all;
	transition: 0.3s linear all;
	-webkit-transform: translateY(-50%) rotate(360deg);
	-moz-transform: translateY(-50%) rotate(360deg);
	-ms-transform: translateY(-50%) rotate(360deg);
	-o-transform: translateY(-50%) rotate(360deg);
	transform: translateY(-50%) rotate(360deg);
}
.faq__accordian-heading.active::before {
	color: #ffffff;
}
.faq__accordion-content {
	display: none;
	padding: 10px 20px;
}



.faq__accordion-content .form-field .sb-field {
  height: 50px;
}

.faq__accordion-content .form-control {
  border-radius: 0px;
}


.faq__accordion-content .custom-dropdown {
  position: relative;
}

.faq__accordion-content .custom-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px; 
  cursor: pointer; 
  /* font-size: 15px;  */
}

.faq__accordion-content .custom-dropdown .arrow {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%) rotate(90deg); 
  font-size: 15px; 
}

.faq__accordion-content .contact-us-btn {
  border-radius: 20px;
  border: 0px;
  background: linear-gradient(90deg, #00B4F6 1.36%, #4D9ADC 21.4%, #8482C9 41.95%, #B06BB8 64.01%, #BA66B4 83.56%, #DE53A7 97.75%);
  color: var(--white);
  padding: 12px 0px;
  display: inline-block;
  min-width: 170px;
  text-align: center;
  padding: 0.5rem 2.5rem;
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
  z-index: 1;
  
}



.faq__accordian-heading .btn {
	background-image: linear-gradient(to right, #05b2f5 0%, #7887cd 33%, #b26ab7 66%, #de53a7 100%);
	border-radius: 40px;
  box-sizing: border-box;
	color: #141414;
	display: block;	
	height: 40px;
	/* letter-spacing: 1px; */
	margin: 0 auto;
	padding: 2px;
	position: relative;
  text-decoration: none;
	/* text-transform: uppercase; */
	width: 164px;
	z-index: 2;
}

.faq__accordian-heading:hover .btn {
	color: #fff;
}

.faq__accordian-heading .btn span {
	align-items: center;
	background: #fcfcfc;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.faq__accordian-heading:hover .btn span {
	background: transparent;
}

.faq__accordian-heading.active .btn span {
	background: transparent;
}
.faq__accordian-heading.active .btn {
	color: #fff;
}






.dmm-list ul {
  padding: 0; 
  margin: 0; 
}

.dmm-list li {
  list-style: none;
  display: inline-block; 
  position: relative;
  font-size: 13px;
  padding: 0 20px;
  /* float: left; */
  }

.dmm-list li::before {
  content: '|'; 
  color: #909090; 
  /* margin: 0 10px;  */
  position: absolute;
  left: -5px; 
}

.dmm-list li:first-child::before {
  content: none; 
}

.dmm-list li:first-child {
  padding-left: 0; 
}

.dmm-list li:last-child {
  border-right: none;
}

@media (max-width: 575.98px) { 

  .dmm-list li {
    padding: 0 5px;   
    font-size: 12px;}

 }





 .dmm-list ul {
  padding: 0; 
  margin: 0; 
}

.dmm-list span {
  list-style: none;
  display: inline-block; 
  position: relative;
  font-size: 14px;
  padding: 0 20px;
  /* float: left; */
  }

.dmm-list span::before {
  content: '|'; 
  color: #909090; 
  /* margin: 0 10px;  */
  position: absolute;
  left: -5px; 
}

.dmm-list span:first-child::before {
  content: none; 
}

.dmm-list span:first-child {
  padding-left: 0; 
}

.dmm-list span:last-child {
  border-right: none;
}

@media (max-width: 575.98px) { 

  .dmm-list span {
    padding: 0 5px;   
    font-size: 12px;}

 }