/* Banner */
.banner_wrp {position: relative;}
.hbImg {height: 0; padding-bottom: 40%; position: relative;overflow: hidden;}
.hbImg img {width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;transition:all 9s linear;transform:scale(1.2)}
.swiper-slide-active .hbImg img{transform:scale(1)}
/* .hbTxtBox {background: rgb(255 255 255 / 75%);position: relative; padding: 3rem 3rem 3rem 0; border-radius: 0 5rem 0 0;} */
/* .hbSlideText { opacity:0;transition:all 1s .9s ease;transform:translateX(-200px)}
.swiper-slide-active .hbSlideText {opacity:1;transform:translateX(0);;transition:all 1s 1.4s ease;} */
.hbSlideText h1 {font-size: 2.5rem;  font-weight: 700; line-height: 3rem; text-transform: capitalize; margin-bottom: 1.2rem;}
.hbSlideText p {font-size: 1.4rem; line-height: 2rem; margin-bottom: 1.2rem;}
.hbSlideText p:last-child {margin: 0;}
.hbSlideText .ctaBtn {margin-bottom: 1rem;}
.hbTxtSwiper  .swiper-arrow {display: flex;}
.hbTxtSwiper .swiper-arrow .swiper-button-prev, .hbTxtSwiper .swiper-arrow .swiper-button-next {position:inherit; border-color: var(--white);--swiper-navigation-color: var(--white);}
/* .hbTxtSwiper .swiper-arrow .swiper-button-prev:after, .hbTxtSwiper .swiper-arrow .swiper-button-next:after {--swiper-navigation-color:var(--white)} */
.hbTxtSwiper .swiper-arrow .swiper-button-next {margin-left: 1rem;}

@media(min-width:991.99px){
    .hbTxtWrp { position: absolute; bottom: 0; left: 0;  width: 100%; overflow: hidden; z-index: 1;}
   
    .hbTxtSwiper {height: 100%;}
    .hbTxtBox {background: rgb(0 163 224 / 25%); max-width: 600px; position: relative; border-radius: 1.5rem 1.5rem 0 0; padding: 2rem; overflow: hidden;}
    .hbTxtBox::before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: var(--blue); opacity: 0.3;}
    .hbSlideText {display: flex; height: 100%; align-items: center;  color: var(--white);}
}
@media(max-width:1199.99px){
    .hbTxtBox {padding: 2rem 2rem 2rem 0;}
    .hbSlideText h1 {font-size: 1.5rem; line-height: 2rem;}
}
@media(max-width:991.99px){
    .hbSlideText h1, .hbSlideText p, .hbSlideText .ctaBtn {margin-bottom: 1rem;}
}
@media(max-width:768.99px){
    .hbTxtWrp {background: #FCFCFC;}
    .hbSlideText h1 {font-size: 1.3rem; line-height: 1.8rem;}
    .hbSlideText p {font-size: 0.85rem;}
}
@media(max-width:575px){
    .hbTxtBox {padding: 1rem;}
    .hbImg {padding-bottom: 56.56%;}
}



/* Counter */
.counterWrp .counterBox:not(:last-child) {border-right: 1px solid rgba(54, 54, 54, 0.20);}
.counterIcon {background: var(--blue); width: 4rem; height: 4rem; border-radius: 100%; display: flex; align-items: center; justify-content: center;}
.counterIcon img {width: 3rem; height: 3rem; display: block;}
.counterBox p:last-child {margin: 0;}
.countNo {font-size: 1.2rem; font-weight: 500;}
.counterBox p {font-size: 1rem; text-transform: capitalize;}
@media(max-width:991.99px){
    .counterWrp .counterBox:nth-child(2n+0) {border-right:0}
}

/* About Us */
.aboutUsSection {background: var(--grey);}
.aboutLinkBox {display: block; height: 100%; overflow: hidden; position: relative;}
.aboutLinkBox img {width: 100%; height: 100%; object-fit: cover; object-position: top; transition: all 0.5s ease-in-out;}
/* .aboutLinkBox:hover img {transform: scale(1.1) rotate(-2deg);} */

.aboutLink {position: absolute; left: 0; bottom: 0; width: 100%; background: rgba(0, 0, 0, 0.30); backdrop-filter: blur(15px); padding: 1.2rem; color: var(--white); text-transform: capitalize; font-size: 1.1rem;}
.aboutLink span {position: absolute;  top: 50%; right: 1.2rem; transform: translateY(-50%); display: block; width: 50px; height: 40px; background: url(../images/aboutArw.svg) no-repeat center; background-size: 100%; transition: all 0.3s ease-in-out;}
.aboutLinkBox:hover .aboutLink span {background: url(../images/aboutArwHvr.svg) no-repeat center; background-size: 100%;}


@media (min-width:768.99px){
    .aboutLR-box {height: 250px;}
}

@media (max-width:991.99px){
    .aboutLink {padding: 1rem; font-size: 1rem;}
}

@media (max-width:768.99px){
    .aboutLinkBox {height: 200px;}
}

.wooBox h4 {font-weight: 400; margin-bottom: 1rem;}
.wooBox p:last-child {margin: 0;}

@media(min-width:991.99px){
    .wooBox {padding:0 2rem;}
    .wooBox:not(:last-child) {border-right: 1px solid rgba(57, 57, 57, 0.10);}
}


/*  */
.ppWrapMain {width:100%;position:relative;min-height:420px;background:#fff;z-index:2;}
.ppItem {padding:1rem;margin-bottom:1rem;transition:all 0.3s ease-in-out; overflow:hidden; background: rgba(0, 77, 102, 0.10); border-left: 2px solid var(--black); border-right: 2px solid var(--black); color: var(--black);}
.ppItem.active {background: var(--blue); color:var(--white);}
.ppHead[aria-expanded="true"] {pointer-events:none;}
.ppName {font-size:1rem; line-height: 1.4rem; font-weight:normal;margin-bottom:0;text-transform: capitalize;}
.ppContent p {font-weight: 300; margin:1rem 0 0 0;}
.ppGallery {width:100%;height:100%;display:block;margin-top:1.5rem;}
.ppSwiper {height:100%;}
.ppImgBox {height:250px;position:relative;overflow:hidden;background:#f6f6f6;}
.ppImgBox::before {content: ''; position: absolute; top: 0; left: 0; background: rgb(0 0 0 / 50%); width: 100%; height: 100%; z-index: 1; transition: all 0.3s ease-in-out;} 
.ppImgBox.swiper-slide-active::before {opacity: 0;}
.ppImg {width:100%;height:100%;display:block;object-fit:cover;object-position:center;transition:all .5s ease;transform:scale(1);filter:brightness(100%);cursor:pointer;}
.ppImgBox:hover .ppImg {transform:scale(1.1);filter:brightness(130%);}

@media (min-width:992px) {
.ppWrapMain:before {content:'';width:50vw;height:100%;display:block;background:#fff;position:absolute;right:60%;top:0;z-index:-1;}
.ppAccdorion {width:40%;}
.ppItem {overflow:visible;}
.ppImgBox {height:auto;}
.ppGallery {width:55%;height:100%;display:block;background:#fff;position:absolute;top:0;right:0;z-index:-2;margin-top:0;}
.ppContent .ppContPara {overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;line-clamp:2;-webkit-box-orient:vertical;}
}

.ppSwiper .swiper-button-prev, .ppSwiper .swiper-button-next {border: 1px solid var(--white); background: transparent; transform: translateY(-50%); }
.ppSwiper .swiper-button-next:after, .ppSwiper .swiper-button-prev:after {color: var(--white);}

.ppSwiper .swiper-button-next.swiper-button-disabled, .ppSwiper .swiper-button-prev.swiper-button-disabled {opacity: 0;}

/* Service */
.serviceWrp {background: var(--grey);}


.serviceCircle {width:35%; display: table; margin: 0 auto; position: relative;}
.serviceCircle img {width: 100%; height: 100%; object-fit: cover;}
.bluBorCircle {border: 8px solid var(--blue);  position: absolute; top: 4rem; right: 4rem; bottom: 4rem; left: 4rem; border-radius: 100%; /*clip-path: polygon(0 0, 100% 0, 100% 85%, 0 85%);*/}

.circleIcon {position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: 100%; background: var(--blue); display: flex; justify-content: center; align-items: center; width: 60%; height: 60%; margin: auto; overflow: hidden;}
.circleIcon img {width: 80%; height: auto; /*margin-top: -20px;*/}

/* .circleIcon::before {content: ''; width: 100%; height:100%; background: var(--grey); position: absolute; left: 0; top: 80%; border-radius: 100% 100% 0 0;} */

.circleIcon span {width: 100px;height: 100px;display: block;background: rgba(255, 255, 255, 0.05);border-radius: 100%;position: absolute;}

.circleIcon span:nth-child(1) {top: -50px;left: 25%;}
.circleIcon span:nth-child(2) {top: 40%; left: -50px;}
.circleIcon span:nth-child(3) {top: 50%; right: -50px;}

.circleIconTxt {background: #fcfcfc;position: absolute;bottom: 4rem;left: 50%;transform: translateX(-50%);}
.circleIconTxt span {left: -40%; font-size: 4rem;}
.dashedBorder {animation: rotation 20s infinite linear;}


.serviceBox {padding: 1rem; border-radius: 10px; display: block; transition: all 0.3s ease-in-out;}
.serviceBox:hover {background: var(--white); box-shadow:0px 0 10px 0px rgba(0, 0, 0, 0.1);}
.serviceBox h4 { font-size: 1rem; font-weight: 600; text-transform: capitalize; position: relative; padding-right: 50px; line-height: 1.6rem;}
.serviceBox h4::after {content: ''; position: absolute; top: 0; right: 0; width: 40px; height: 100%; background: url(../images/gredientArw.svg) no-repeat; background-size: 100%; opacity: 0; transition: all 0.3s ease-in-out;}
.serviceBox:hover h4::after { opacity: 1;}

.serviceBox p:last-child {margin: 0;}



@media(min-width:1200.99px){
    .serviceWrp {padding-bottom: 18rem;}
    
    .noWrp .no {display: block;background: var(--gradient);width: 2rem;height: 2rem;color: var(--white);text-align: center;line-height: 2rem;border-radius: 100%; position: absolute;}
    
    .noWrp .no::before {content: ''; position: absolute; top: 50%; width: 30px; height: 1px; background: rgba(0, 77, 102, 0.25);}
    .noWrp .no:nth-child(1):before, .noWrp .no:nth-child(2):before, .noWrp .no:nth-child(3):before {left: 130%;}
    .noWrp .no:nth-child(5):before, .noWrp .no:nth-child(6):before, .noWrp .no:nth-child(7):before {right: 130%;}

    .noWrp .no:nth-child(4):before {height: 30px; width: 1px; top: 130%; left: 50%; transform: translateX(-50%);}

    .noWrp .no:nth-child(1) {top: 2%;right: 25%;}
    .noWrp .no:nth-child(2) {top: 42%;right: -2%;}
    .noWrp .no:nth-child(3) {top: 82%;right: 12%;}
    .noWrp .no:nth-child(4) {top: 98%; left: 50%; transform: translateX(-50%);}
    .noWrp .no:nth-child(5) {top: 82%; left: 10%; }
    .noWrp .no:nth-child(6) {top: 42%; left: -3%; }
    .noWrp .no:nth-child(7) {top: 2%; left: 25%;}


    .serviceBox {position: absolute; width: 28%;}
    .serviceBox:hover {background-color: var(--blue); color: var(--white);}

    .serviceBoxWrp .serviceBox:nth-child(1), .serviceBoxWrp .serviceBox:nth-child(2), .serviceBoxWrp .serviceBox:nth-child(3) {right: 0;}
    .serviceBoxWrp .serviceBox:nth-child(5), .serviceBoxWrp .serviceBox:nth-child(6), .serviceBoxWrp .serviceBox:nth-child(7) {left: 0;}

    .serviceBoxWrp .serviceBox:nth-child(1), .serviceBoxWrp .serviceBox:nth-child(7) {top: 0;} 
    .serviceBoxWrp .serviceBox:nth-child(2), .serviceBoxWrp .serviceBox:nth-child(6) {top: 40%;} 
    .serviceBoxWrp .serviceBox:nth-child(3), .serviceBoxWrp .serviceBox:nth-child(5) {top: 80%;} 

    .serviceBoxWrp .serviceBox:nth-child(4) { top: 115%; left: 50%; transform: translateX(-50%);}

    .serviceBox span {display: none;}

}

@media(max-width:1320.99px){
    .serviceBox p {font-size: 0.90rem;}
}





@media(max-width:1200.99px){
    .serviceCircle {display: none;}
    .serviceBoxWrp {display: flex; flex-wrap: wrap;}
    .serviceBox {width: 50%;}
    .serviceBox span {display: block;margin-right: 1rem;background: var(--gradient);width: 2rem;height: 2rem;color: var(--white);text-align: center;line-height: 2rem;border-radius: 100%;transition: all 0.3s ease-in-out;}

    
}
@media(max-width:575.99px){
    .serviceBox {width: 100%;}

}
/*  */
.clientSwiper {overflow: visible;}
.clientSwiper .swiper-slide {padding: 1rem 0;}
.clientBox {box-shadow: 0px 0 15px 0px rgba(0, 0, 0, 0.08);}
.clientBox img {width: 100%;}
.swiper-client-prev {left: auto; right: 4.5rem;}
.swiper-client-prev, .swiper-client-next {top: -5.2rem;}
@media(max-width:991.99px){
    .swiper-client-prev, .swiper-client-next {display: none;}  
}

/* Testimonial */
/* .testimonialWrp {background: var(--grey);} */
.testNavWrap {position: relative;}

.testNavSwiper  .swiper-slide {border: 1px solid #D9D9D9; padding: 1.2rem; transition: all 0.3s ease-in-out; }
.testNavSwiper  .swiper-slide.swiper-slide-thumb-active { border: 1px solid var(--black); }

.testNavBox ul {display: flex; }
.testNavBox ul li {position: relative; margin-right: 5px; font-size: 0.90rem;}
.testNavBox ul li:after {content: '|'; display: inline-block; margin-left: 5px;}
.testNavBox ul li:last-child:after {display: none;}



.testContentSwiper .swiper-slide {height: auto;}
.testContentSwiper .swiper-slide{position: relative;}
.testContentSwiper .swiper-slide::before {content: ''; position: absolute; top: 0;left:  0; width: 75px; height: 75px; background: url(../images/quote.svg) no-repeat center; background-size: 100%;}
.testContentSwiper .swiper-slide h3 {color: var(--blue); margin-bottom: 1.5rem; font-size: 1.2rem;}

.swiper-test-prev, .swiper-test-next {width: 2rem; height: 2rem; top: 50%; margin-right:1rem;}
.swiper-test-prev {left: auto; right: 100%; margin-top: -2.5rem;}
.swiper-test-next {right: 100%;}
.swiper-test-prev:after, .swiper-test-next:after {transform: rotate(90deg);}


 
@media(min-width:991.99px){
    .testNavWrap {border-right: 1px solid rgba(57, 57, 57, 0.10); padding-right: 5rem;}
    .testNavSwiper {height: 420px;}
    .swiper-test-prev, .swiper-test-next {width: 3rem; height: 3rem;}
    .swiper-test-prev {margin-top: -3.5rem;}

    /* .testContentSwiperWrp {padding: 3rem 0 3rem 4rem;} */
    .testimonialTab ul {border-right: 1px solid #D9D9D9;}
}



@media(max-width:991.99px){
    .testContentSwiper .swiper-slide {padding-left: 0;}

    .testimonialTab .nav {flex-wrap: nowrap; overflow: scroll;}
    .testimonialTab .nav li {margin: 0 1rem; }
    .testimonialTab .nav button {white-space: nowrap; padding: .5rem;}

}

.testimonialTab li {margin-bottom: 1rem;}
.testimonialTab .nav-link { color: #393939;width: 100%; display: block; text-align: left; font-size: 1.5rem; font-weight: 500; text-transform: capitalize; border-radius: 3px; padding-left: 80px; position: relative; font-weight: 300;}
.testimonialTab .nav-link.active { color: var(--blue); font-weight: 400;}

.testimonialTab .nav-link::before {content: ''; position: absolute; top: 20px; left: 0; width:0px; height: 2px; background: var(--blue); opacity: 0; transition: all 0.3s ease-in-out;}
.testimonialTab .nav-link.active::before {opacity: 1; width: 70px;}

.testContentSwiper p {font-size: 1.2rem; line-height: 2.2rem;}

@media(max-width:1280.99px){
    .testimonialTab .nav-link {padding-left: 60px; font-size: 1.2rem;}
    .testimonialTab .nav-link.active::before {width: 40px;}
    .testContentSwiper p {font-size: 1.1rem;}
}

@media(max-width:1280.99px) {
    .testimonialTab .nav-link.active::before {display: none;}
}

.resourcesWrp {background: var(--grey);}

.chooseAcc .accordianItem  {background:rgba(0, 77, 102, 0.10);  overflow: hidden; border-radius: 3px;}

.chooseAcc .accordianItem.active {background: var(--white);}

.chooseAcc .accordianItem.active .accordianHead {background: var(--blue); color: var(--white); margin-bottom: 1rem;}
.chooseAcc .accordianContent {padding-left: 1rem;}

