.login-index {
    position: relative;
 
}
.img-login{
    position: relative;
    top: 0;
    right: 0;
    z-index: -1;
    float: right;
}
.login-index .login-side2{
    background: var(--5, #FFF);
    box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.05);
    width: 60%;
    padding: 30px;
    position: absolute;
    left: 5%;
    top: -18px;


}
.login-index .login-side2 .index-btn{
    width: 30%;
    border-radius: 9px;
backdrop-filter: blur(50px);
}
.login-index .login-side2 .form-select{
 padding: 15px;   
}
.login-index .login-side2 .form-select:focus{
   box-shadow: none;
}
@media (max-width:991px) {
    .img-login{
        float: auto;
    }
    .login-index .login-side2{
        width: 90%;
    }
    .login-index .login-side2 .index-btn{
        width: 50%;
     
    }
}