html {
      scroll-behavior: smooth;
}

.libraryInput .input-group {
      width: 100%;
      border: 1px solid rgba(51, 51, 51, 0.10);
}


.libraryInput .form-control {
      border: 1px solid rgba(51, 51, 51, 0.10);
      min-width: 200px;
      color: #393939;
      height: 45px;
}


.libraryInput .form-control:focus {
      border-color: rgb(189, 185, 185);
}

.state {

      background: var(--white);
      padding: 30px;
}



/* .state .ctaBtn {
      word-spacing: 10px;

} */

.btn-listing {
      border-color: linear-gradient(#00B4F6, #008EC2, #6891D3, #8482C9, #B06BB8, #BA66B4, #DE53A7);

}

.state h5 {
      color: var(--blue);
      margin-bottom: 1rem;
      font-weight: 500;
      text-transform: capitalize;
}

.stateList li {
      position: relative;
      padding: 0 20px;

}

.stateList li:first-child {
      padding-left: 10px;
}

@media (max-width: 575.98px) {
      .stateList li {
            position: relative;
            padding: 0 10px;
      }

      .stateList li:first-child {
            padding-left: 10px;
      }
}


@media (max-width: 767.98px) {
      .stateList li {
            position: relative;
            padding: 0 10px;
      }

      .stateList li:first-child {
            padding-left: 10px;
      }
}



.stateList li:not(:last-child)::after {
      content: '|';
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1rem;

}

@media(max-width:575px) {
      .state {
            padding: 15px;
      }

}






.login-side {
      background: var(--Gradient, linear-gradient(180deg, #00B4F6 0%, #008EC2 18.75%, #6891D3 36.98%, #8482C9 52.6%, #B06BB8 68.23%, #BA66B4 84.9%, #DE53A7 100%));
      box-shadow: 2px 2px 55px 0px rgba(0, 0, 0, 0.08);
}

.para {
      color: var(--5, #FFF);
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      text-transform: capitalize;
}

.images {
      position: relative;
}

.img2 {
      position: absolute;
      top: calc(15%);
      left: calc(40%);
      right: 0;
}

.images h5 {
      color: #FFF;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
}

.images p {
      color: rgba(255, 255, 255, 0.80);
      text-align: center;
      font-size: 14px;
      font-weight: 400;
}


.swiper-wrapper {

      padding-bottom: 60px;
}

.swiper-slide p {
      color: #FFFFFFCC;
}

.swiper-pagination .swiper-pagination-bullet {
      width: 20px;
      height: 7px;
      border-radius: 10px;

}


.login-side2 .nav-pills .nav-link.active {
      background-color: #004D66;
      color: #fff;
      /* border-radius: 30px; */
}

.btn-close {
      position: absolute;
      right: 1rem;
      top: 0.6rem;
}

.btr {
      width: 70%;
      /* border-radius: 30px; */
}

.btl {
      width: 70%;
      /* border-radius: 30px; */
}

.login-side2 .nav-pills {
      display: table !important;
      width: 100%;
}


.login-side2 .nav-pills .nav-link {
      color: #000;
      padding: 10px 10px;
      border-radius: 50px;

}

.nav-item {
      display: table-cell;
}


.buttons button {
      color: #393939;
      font-size: 9px;
      font-weight: 400;
      border: 1px solid #E9EAEB;
      background: #FFF;
      padding: 15px 10px;
      margin-top: 10px;
}

.hr-lines {
      position: relative;
      max-width: 500px;
      margin-top: 40px;
      text-align: center;
      z-index: 1;
}

.hr-lines span {
      display: table;
      margin: 0 auto;
      background: #fff;
      padding: 0 20px;
}

.hr-lines::before {
      content: " ";
      height: 1px;
      width: 100%;
      background: #7D7D7D;
      display: block;
      position: absolute;
      top: 10px;
      right: 0;
      z-index: -1;
}

.form {

      height: auto;

}

.form input {
      border: 1px solid #E9EAEB;
      background: #FFF;
      box-shadow: 1px 1px 22px 0px rgba(0, 0, 0, 0.03);
      margin-bottom: 12px;
      border-radius: 3px;
      padding: 15px;
}


.form input:focus {
      border: 1px solid #E9EAEB;
      box-shadow: none;
}


.form button {

      margin-top: 20px;
}

a.forget-password {
      float: right;
      text-decoration: underline #7D7D7D;
      font-size: 13px;
}

.log {
      width: 100%;
      border-radius: 30px;
}

.t-c {
      text-decoration: underline #7D7D7D;

}

.form p {
      text-align: center;
      font-size: 10px;
}

.labaour-walefare .heading {
      color: #004D66;

}

.labaour-walefare {
      background: #FFF;
}

.labaour-walefare h1 {
      color: #3D3D3D;
      text-transform: uppercase;
}

.labour-walefare-info p {
      color: #3D3D3D;
      text-align: center;
      font-size: 14px;
      font-weight: 300;

}

.labour-fund .accordianItem {
      /* border: 1px red solid; */
      cursor: pointer;
      border: 1px solid rgba(0, 77, 102, 0.10);
      background: var(--5, #FFF);
      box-shadow: 1px 1px 55px 0px rgba(0, 0, 0, 0.08);
      padding: 15px;
}
.labour-fund ul li{
      list-style: disc;
      font-size: 13px;
}
.labour-fund ul{
      padding-left: 19px;
}
.labour-fund b{
      font-weight: 500;
      font-size: 13px;
}

.labour-fund .accordianHead {
      text-align: justify;
      color: var(--1, #004D66);
      font-size: 15px;
      padding: 15px 30px 0 10px;
      font-weight: 500;
      /* line-height: 15px; */
      text-transform: uppercase;


}


.labour-fund .accordianHead::before {
      content: '';
      position: absolute;
      right: 15px;
      width: 2rem;
      height: 2rem;
      border-radius: 100rem;
      background: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23000' xmlns='http://www.w3.org/2000/svg'><path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>") center no-repeat, var(--white);
      background-size: 50%;
      transition: all 0.3s ease-in-out;
}


/* @media (max-width: 425px) { .labour-fund .accordianHead::before {
  display: none;
  
}
 } */






.labour-fund .accordianItem.active .accordianHead::before {
      background: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23000' xmlns='http://www.w3.org/2000/svg'><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>") center no-repeat, var(--white);

      background-size: 50%;
}

.labour-fund .accordianContent {
      display: none;
      text-align: justify;
      padding: 10px;
}

.accordianContent p {
      color: #3D3D3D;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
      line-height: 26px;
}

.applicability .table-bordered>:not(caption)>*>* {
      border-width: 0;
}

.applicability {
      opacity: 0.95;
      background: var(--5, #FFF);
      box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.04);
}

.applicability-list {
      /* border: 1px solid; */
      overflow-y: scroll;
      /* white-space: nowrap; */
      height: 450px;
      direction: rtl;
      padding-left: 0;
      padding-right: 0;
}


@media (max-width: 991.98px) {
      .applicability-list {
            height: 100px;
      }
}





.applicability h1 {
      color: var(--1, #004D66);
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
}

.applicability ul {
      /* border: 1px solid red; */
      display: grid;
}

.applicability .nav-link {
      background-color: transparent;
      color: rgba(57, 57, 57, 0.50);
      font-size: 15px;
      /* padding: 10px; */
      font-weight: 400;
      text-transform: capitalize;
      margin-top: 15px;
      text-align: justify;

}

.applicability .nav-pills .nav-link.active {
      background-color: transparent;
      color: #393939;
}

.applicability .tab-pane {
      border: 1px solid rgba(136, 136, 136, 0.32);
      background: rgba(255, 255, 255, 0.34);
      padding-bottom: 40px;
}

.applicability .ACT table tr th {

      text-align: justify;
      padding-left: 30px;
      position: relative;

}

/* .applicability .ACT table tr th::after{
      position: absolute;
      content: "";
      background: #393939;
      width: 1px;
      height: 40px;
      right: 0;
} */
.applicability .ACT table tr {
      padding: 20px;
}

.applicability .ACT table tr td {

      text-align: justify;
      padding-left: 30px;
}

.applicability .ACT table tr th:first-child {
      border-right: 1px solid rgba(136, 136, 136, 0.32);
}

.applicability .table {
      color: #3D3D3D;
      font-size: 15px;
      font-weight: 400;
      text-transform: capitalize;
}

.act-info .ctaBtn {
      border-radius: 40px;
      word-spacing: 10px;
}

.applicability .act-info1 {
      background: var(--5, #FFF);
      box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.04);
      padding: 10px 20px;


}

.applicability .act-info1 p {
      color: #393939;
      font-size: 14px;
      font-weight: 300;
      line-height: 23px;
      padding: 10px;
}

.applicability .act-info-p {
      color: #393939;
      font-weight: 600;
      line-height: 15px;
}

@media (max-width: 991.99px) {
      .applicability ul {
            /* border: 1px solid red; */
            display: flex;
            overflow: scroll;
            top: 0;
            width: 100%;
            white-space: nowrap;
      }
}
@media (max-width:450px) {
  .act-info {
      text-align: center;
  }
      
}
/* @media (max-width:393px) {
      .act-info {
          text-align: center;
      }
          
    } */

.act-info1 hr {
      background: rgba(57, 57, 57, 0.47);
}

.mini-wage h1 {
      color: var(--1, #004D66);
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

}

.mini-wage p {
      color: #3D3D3D;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 10px;
      /* 66.667% */
      text-transform: capitalize;
}

.title-info {
      color: #3D3D3D;
      text-align: center;
      font-family: Poppins;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 55px;
      /* 183.333% */
      text-transform: capitalize;
}

.mini-wage .responsive-table thead tr,
.responsive-table tbody tr td {
      border: none;

}

.mini-wage-table table {

      text-align: justify;
      padding: 5px 30px;
      border: 1px solid rgba(92, 92, 92, 0.20);
      background: var(--5, #FFF);
      box-shadow: 2px 2px 22px 0px rgba(0, 0, 0, 0.05);
}

.mini-wage-table .table {
      padding: 30px 40px;

}

.responsive-table th {
      color: var(--1, #004D66);
      font-size: 15px;
      padding: 15px 15px;
      font-weight: 400;
      text-transform: capitalize;
      text-align: left;

}

.table-bordered>:not(caption)>*>* {
      border-width: 0;
}

.responsive-table td {
      padding: 15px 20px;
}


.responsive-table tr {
      color: #3D3D3D;
      font-size: 15px;
      font-weight: 400;
      text-transform: capitalize;
}

.mini-wage-button {
      background: var(--5, #FFF);

}

.mini-wage-button h4 {
      color: #000;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
}

.mini-wage-button p {
      color: rgba(61, 61, 61, 0.70);
      font-size: 14px;
      font-weight: 400;
      line-height: 22PX;
      text-transform: capitalize;
}

.mini-wage-button .ctaBtn {
      border-radius: 30px;

}

@media (max-width: 545px) {

      .table thead {
            display: none;
      }


      .responsive-table,
      .responsive-table tbody,
      .responsive-table tr,
      .responsive-table td {
            display: block;
            width: 100%;
      }

      .responsive-table tr {
            margin-bottom: 15px;
      }

      .responsive-table td {

            padding-left: 50%;
            text-align: left;
            margin-top: 25px;
      }

      .responsive-table td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-size: 15px;
            font-weight: bold;
            text-align: left;
      }
}
@media (max-width:393px) {
      .responsive-table td{
      padding-left: 10px;
      }
}

.tax h1 {
      color: var(--1, #004D66);
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

}

.tax p {
      color: #3D3D3D;
      font-size: 15px;
      font-weight: 500;
      line-height: 10px;
      text-transform: capitalize;
}

.list li {
      list-style-type: disc;

}

.tax .tax-col {
      color: #3D3D3D;
      font-size: 15px;
      font-weight: 500;
      text-transform: capitalize;
      border-right: 1px solid #3D3D3D52;
}

.tax .tax-col-2 {
      color: #3D3D3D;
      font-size: 15px;
      font-weight: 300;
}

.tax .ctaBtn {
      border-radius: 40px;
}

.tax-table table {
      border: 1px solid rgba(0, 77, 102, 0.20);
      background: var(--5, #FFF);
      box-shadow: 2px 2px 22px 0px rgba(0, 0, 0, 0.05);
      padding: 20px;
}

.tax .tax-table tr td {

      padding: 15px;
}

.tax-table .tax-head th {
      color: var(--1, #004D66);
      font-size: 15px;
      font-weight: 400;
      text-transform: capitalize;

}

@media (max-width:575px) {
      .tax .tax-col {

            border-right: 0;
      }

      .tax {
            align-items: center;



      }

      .table thead {
            display: none;
      }

      .table,
      .table tbody,
      .table tr,
      .table td {
            display: block;
            width: 100%;
      }

      .table tr {
            margin-bottom: 15px;
      }

      .table td {

            /* padding-left: 50%;
            text-align: left;
            margin-top: 25px; */

            text-align: left;
            margin-top: 25px;
            padding-top: 20px !important;
            position: relative;


      }

      .table td::before {


            /* content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-size: 15px;
            font-weight: bold;
            text-align: left; */

            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 100%;
            padding-left: 15px;
            font-size: 15px;
            font-weight: bold;
            text-align: left;
            top: -15px;


      }

      table tr {
            border: none;

      }


}
@media (max-width:991px) {
      .tax .update-btn{
            margin-top: 20px;
      }
      
}
@media (max-width:1024px) {

      .tax .update-btn{
            margin-left: 20px;
      }
}

.profile h1 {
      color: var(--1, #004D66);
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
}

.profile .nav-pills .nav-item button {
      color: var(--1, #004D66);
      font-size: 18px;
      font-weight: 400;
      background: #F8F8F8;
      padding: 10px 50px;
      margin-top: 4px;
      border-radius: 0;

}

.profile .nav-pills .nav-item button.active {
      background: linear-gradient(90deg, #00B4F6 0%, #008EC2 18.75%, #6891D3 36.98%, #8482C9 52.6%, #B06BB8 68.23%, #BA66B4 84.9%, #DE53A7 100%);
      color: #fff;
}

.profile .profile-info {
      color: #004D66;
      font-size: 20px;
      font-weight: 400;
      text-transform: capitalize;
}

.profile p {
      color: #1E1E1E;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
}

.profile .tab-content {
      border: 1px solid rgba(179, 179, 179, 0.50);
      background: var(--5, #FFF);
}

.profile .profile-info-col {
      border-right: 1px solid #B3B3B3;
}


.profile .select-number select {
      border: 1px solid #B3B3B3;
      border-radius: 0;
      width: 20%;
}

@media (max-width: 991.98px) { .profile .select-number select {  
      width: 15%;
} }



@media (max-width: 767.98px) { .profile .select-number select {  
      width: 15%;
} }


@media (max-width: 575.98px) { .profile .select-number select {  
      width: 28%;
} }

@media (max-width: 393px) { .profile .select-number select {  
      width: 36%;
} }






.profile h3 {
      color: #004D66;
      font-size: 20px;

}

.profile .select-number {
      width: 90%;
}

.profile input {
      width: 90%;
      height: 60px;
      padding: 10px;
      border: 1px solid #B3B3B3;
}

.profile input:focus {
      border: 1px solid rgb(255, 252, 252);
}

.profile .edit {
      padding: 10px;
}

.profile .edit .col-lg-6 {
      padding: 23px 10px;
}

.profile .bill-details .col-lg-6 {
      padding: 23px 0;
}

.profile .bill-details select {
      width: 90%;
      height: 60px;
      padding: 10px;
}

.form-select:focus {
      border-color: rgb(189, 185, 185);
}

@media (max-width:992px) {
      .profile .profile-info-col {
            border-right: none;
            border-bottom: 1px solid #B3B3B3;
      }

      .profile-info-col {
            padding-left: 48px;
            padding-bottom: 20px;
      }

      .profile-info-col2 {
            padding-top: 20px;
            line-height: 160%;
      }

}

.download .download-act {
      padding: 10px;
      border: 1px solid rgba(0, 77, 102, 0.10);
      background: #FFF;

}

.download .download-act:hover {
      box-shadow: 1px 1px 55px 0px rgba(0, 0, 0, 0.08);

}

.download .download-act h5 {
      font-size: 15px;
      font-weight: 500;

}

.download .download-act:hover h5 {
      color: #004D66;

}

@media (max-width: 991.99px) {
      .nav-pills .nav button {
            white-space: nowrap;
            padding: 0.5rem;
      }
}

@media (max-width: 1280.99px) {
      .testimonialTab .nav-link {
            padding-left: 60px;
            font-size: 1.2rem;
      }
}

.categoriesWrp {
      position: relative;
}

.categoriesWrp .para {
      color: #3D3D3D;
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      line-height: 41px;

}

.categoriesWrp .btn-oc {
      border-radius: 9px;
      border: 1px solid;
}

.categoriesWrp .btn-oc {
      position: absolute;
      right: 0;
      top: 6rem;
}

@media (max-width:980px) {
      .categoriesWrp .btn-oc {
            top: calc(95%);
            right: calc(37%);


      }
}

@media (max-width:400px) {
      .categoriesWrp .btn-oc {
            top: calc(95%);
            right: calc(25%);


      }
}

@media (min-width: 991px) {
      .categoriesWrp .btn-oc {
            right: 0;
            top: 6rem;
      }
}

.tax-h2 {
      color: #3D3D3D;
      text-align: center;
      font-size: 30px;
      font-weight: 400;
      line-height: 55px;
      text-transform: capitalize;
}

.professional-tax p {
      color: #3D3D3D;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;

}
.professional-tax-accordion ul li{
      list-style: none;
      margin-bottom: 10px;
}

.tax-title {
      font-size: 30px;
      font-weight: 400;
      line-height: 40px;

}

.applicable-state {
      opacity: 0.95;
      background: var(--5, #FFF);
      box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.04);

}

.state-list {


      font-size: 15px;
      font-weight: 300;
      line-height: 40px;
      text-transform: capitalize;


}

.state-list li {
      padding: 4px;
      position: relative;
      color: rgba(57, 57, 57, 0.50);
}

.state-list li:hover,
.state-list li.stateActive {
      color: #393939;
      font-size: 15px;
      font-weight: 500;
      line-height: 40px;

}

.state-list li a span {
      padding-right: 15px;

}

.state-list li::after {
      content: "";
      display: block;
      width: 90%;
      border-bottom: solid 1px rgba(57, 57, 57, 1);
}

.state-list li a img {
      position: absolute;
      right: 1.8rem;
      opacity: 0;
}

.list:hover a img,
.state-list li.stateActive img {
      opacity: 1;

}

.non-applicable .title-non {
      color: #3D3D3D;
      text-align: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 55px;
      text-transform: capitalize;
}

.holiday {
      background: var(--5, #FFF);
      box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.04);
}

.national-holidays h2 {
      color: #3D3D3D;
      text-align: center;
      font-size: 30px;
      font-weight: 400;
      line-height: 55px;
      text-transform: capitalize;

}

.national-holidays-list table {

      border: 1px solid rgba(92, 92, 92, 0.20);
      background: var(--5, #FFF);
      box-shadow: 2px 2px 22px 0px rgba(0, 0, 0, 0.05);
      padding: 0 30px;
}


.national-holidays-list table tr th,
td {
      padding: 20px;

}

.national-holidays p {
      color: #3D3D3D;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      text-transform: capitalize;
}

.mapdiv path {
      fill: #004D66;
      stroke: #dce0e1;
      stroke-width: 1px;
      transition: fill 0.3s;
}

.mapdiv a{
     outline: none;
}
.mapdiv :hover {
      fill: #d2f4ff;
}

.minimum-wage {
      padding: 10px;
      opacity: 0.95;
      background: var(--5, #FFF);
      box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.04);
      ;
}

.wages-list {
      overflow-y: scroll;
      white-space: nowrap;
      height: 667px;
}

.update span {
      /* border: 1px solid red; */
      /* border-radius:0  20px 20px; */
}

.update-btn .btn {
      background-image: linear-gradient(to right, #05b2f5 0%, #7887cd 33%, #b26ab7 66%, #de53a7 100%);
      border-radius: 40px;
      box-sizing: border-box;
      color: #141414;
      display: block;
      /* height: 40px; */
      /*  */
      margin: 0 auto;
      padding: 2px;
      position: relative;
      text-decoration: none;
      /* text-transform: uppercase; */
      
      z-index: 0;
}

.update-btn:hover .btn {
      color: #fff;
}

.update-btn .btn span {
      align-items: center;
      background: #fcfcfc;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      height: 100%;
      transition: background .5s ease;
      width: 100%;
      padding: 10px;
}

.update-btn .btn span svg {
      margin-left: 10px;

}

.update-btn:hover .btn span {
      background: transparent;
}


.update-btn.active .btn span {
      background: transparent;
}

.update-btn.active .btn {
      color: #fff;
}


.update-btn:hover .btn span svg {
      stroke: rgb(250, 245, 245);
}

.login3 .form .form-control {
      padding: 10px 20px;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.40);
      margin-bottom: 20px;
}

.login3 .form p {
      color: rgba(0, 0, 0, 0.40);
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      text-align: justify;
}

.login3 .form p a {
      text-decoration: underline;
      color: #004D66;
      margin-left: 6px;
}

.login3-btn {
      padding: 10px 20px;
      align-items: center;
      border-radius: 10px;

}

.Sign-in-btn {
      padding: 10px 20px;
      align-items: center;
      border-radius: 10px;
      border: 1px solid var(--1, #004D66);
      background-color: #fff;

}

.Sign-in-btn2 {
      border-radius: 10px;
      background: var(--1, #004D66);
      color: #fff;
}

.text-slider-col .text-slider {
      position: relative;
      border-radius: 2em;
      overflow: hidden;
      height: 600px;
}

.text-slider-col .text-slider-login3 {
      height: 100%;
}

 .text-slider-col .text-slider-login3 img {

      position: absolute;
      z-index: -1;
}

.text-slider-col .text-slider .swiper-slide h2 {
      color: var(--5, #FFF);
      font-size: 47px;
      font-weight: 500;
      line-height: normal;

}

.text-slider-col .text-slider .swiper-slide {padding: 3rem;}

.text-slider-col .text-slider .swiper-slide p {
      color: var(--5, #FFF);
      font-size: 19px;
      font-weight: 400;
      line-height: normal;
}

 .text-slider-col .text-slider .swiper-slide .swiper-slide-para {
      position: absolute;
      bottom: 7rem;
      left:3rem
}

 .text-slider-col .text-slider .swiper-arrow {position: absolute;bottom: 3rem;left: 3rem;/* right: 74%; */display: flex;}
 .text-slider-col .text-slider .prev, .next {display: flex;justify-content: center;align-items: center;margin: 0px;color: rgb(255, 255, 255);width: 3rem;height: 3rem;border: 1px solid rgb(255, 255, 255);border-radius: 100%;  text-align: center;position: relative;left: auto;right: auto;}

@media (max-width:991px) {
     .text-slider-col .text-slider {
            height: 400px;
      }
/* 
      .text-slider .swiper-arrow {
            bottom: 8%;
            left: 15%;
            right: 85%;
      } */

      .text-slider-col .text-slider .swiper-slide h2 {
            font-size: 30px;
      }

     .text-slider-col .text-slider .swiper-slide p {

            font-size: 8px;
      }

    .text-slider-col  .text-slider-login3 img {
            height: auto;
      }
      .update-btn {
            margin-top:20px ;
       }
   .text-slider-col    .text-slider .swiper-slide .swiper-slide-para {
            position: static;
           
      }

}

@media (max-width:554px) {
      /* .text-slider .swiper-arrow {

            left: 50%;
            right: 90%;
      }

      .text-slider .swiper-slide h2 {
            font-size: 35px;
      }
      .update-btn {
            margin-top:20px ;
       } */
}

/* rule shadow on hover */
.rule {
      /* border:1px solid red; */
      box-shadow: none;
      border: 1px solid rgba(0, 77, 102, 0.10);


}

.rule:hover {
      box-shadow: 1px 1px 55px 0px rgba(0, 0, 0, 0.08);
}



@media (max-width: 575.98px) {  
.loginSignUp{
      overflow-x: hidden;
      height: 80vh;
}}


/* -----------------------provident-fund--------------------- */
.provident-fund ol li{
      list-style: disc;
      font-size: 13px;
}
.provident-fund span{
      color: #000;
      font-weight: 600;
}

/* labour-welfare-fund */
.applicability .nav-link {    
      padding: 5px 10px 5px 10px;  

      
  }

.new-table table thead tr th{
      border-right: 1px solid rgba(0, 77, 102, 0.20);
}
.new-table table  tr td{
      border-right: 1px solid rgba(0, 77, 102, 0.20);

}
