
/* Common css starts */
.blue-heading { 
    color: var(--blue);
}
/* Common css ends */
/* Contact us css starts */
.contactUsSection h3 {
    color: var(--blue);
    font-weight: 600;
}

.contactUsSection {color: #000; font-weight: 400;}

.contactUsSection  p strong {font-weight: 500;}

.contact-us-btn {
    border-radius: 20px;
    border: 0px;
    background: linear-gradient(90deg, #00B4F6 1.36%, #4D9ADC 21.4%, #8482C9 41.95%, #B06BB8 64.01%, #BA66B4 83.56%, #DE53A7 97.75%);
    color: var(--white);
    padding: 12px 0px;
    display: inline-block;
    min-width: 170px;
    text-align: center;
    padding: 0.5rem 2.5rem;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
    z-index: 1;
}

.contactUsSection .form-field {
    padding-bottom: 20px;
}

.contactUsSection .form-field .sb-field {
    height: 50px;
}

.contactUsSection .form-control {
    border-radius: 0px;
}

.memberForm .ctaBtn {border: 0;}

.contactUsSection input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
}

.contact-faq-search {
    border: 1px solid var(--blue);
    /* transform: translateY(-50%); */
    height: 50px;
}

.mapWrp iframe {display: block; width: 100%; height: 300px; margin-bottom: 2rem;} 
.mapWrp {text-align: center;}
.mapWrp h4 {color: var(--blue);}
/* Tab css starts */
.accordion-item:not(:last-child) {border-bottom: 1px solid #6d6d6d;}
.accordion-item .accordion-button {position: relative; padding: 0px 30px 20px 0;}
.accordion-item .accordion-button:after {content: '+'; font-size: 2rem; line-height: inherit; color: var(--black);  position: absolute; top: 20%; right: 0; transform: translateY(-50%);  background-repeat: no-repeat; background-position: center;}
.accordion-item .accordion-button.active:after {content: '-';}
.accordion-item .accordion-body {display: none; padding-bottom: 10px;}
.accordion-item {margin-bottom: 20px;}

/* Film Rights */
.filmRightWrp::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background:rgb(18 18 18 / 95%); z-index: -1;}
.filmRightWrp h2.title span {color: var(--white);}
.filmTab {border-left: 1px solid var(--blue); padding-left: 30px;}
.filmTab li {cursor: pointer;  text-transform: uppercase; color: #D9D9D9; font-size: 1.2rem; transition: all 0.3s ease; font-weight: 400;}
.filmTab li:hover, .filmTab li.active {color: var(--blue);}
.filmTab li:not(:last-child) {margin-bottom: 50px;}
/* Tab css ends */

/* Media Query starts */
@media (max-width:991.99px){
    .filmTab {border: 0; padding: 0; display: flex; margin-bottom: 40px; }
    .filmTab li:not(:last-child) { margin: 0 20px 0 0;}
    .filmTab li {border: 1px solid rgba(255, 255, 255, 0.4); padding:5px 15px; border-radius: 3px;}
    .filmTab li.active {border: 1px solid var(--white);}
  }
  @media (max-width:768.99px){
    .filmTabContainer {display: none; padding: 0;}
    .filmTabContainer.expand {display: block; width: 100%;}
    .filmTabSlider .slick-slide {height: 300px;}
  }
  /* Media Query Ends */