@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* font-family: 'IBM Plex Sans', sans-serif; */

html {font-size: 12px;}
body {font-family: 'Poppins', sans-serif; font-size: 1rem;}

:root {
    --blue :#004D66;
    --skyBlue :#00B4F6;
    --lightBlue :#6891D3;
    --pink:#DE53A7;
    --white:#fff;
    --grey:#FCFCFC;
    --black:#393939;
    --gradient: linear-gradient(90deg, #00B4F6 1.36%, #4D9ADC 21.4%, #8482C9 41.95%, #B06BB8 64.01%, #BA66B4 83.56%, #DE53A7 97.75%);

    
}

::-webkit-scrollbar{width:7px;background-color:var(--grey)}
::-webkit-scrollbar-thumb{background-color:var(--black);}
::selection{background:#222;color:#fff}
::-moz-selection{background:#222;color:#fff}

ul, li {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none;}
.form-control, .form-control:focus {outline: none; box-shadow: none;}

/* ========== UI Styles stared ========== */
@media(min-width:1120px){.container {max-width: 1020px;}}
@media(min-width:1220px){.container {max-width: 1120px;}}
@media(min-width:1320px){.container {max-width: 1220px;}}
@media(min-width:1420px){html{font-size: 14px;} .container {max-width: 1320px;}}
@media(min-width:1520px){.container {max-width: 1420px;}}
@media(min-width:1620px){html{font-size: 16px;}  .container {max-width: 1520px;}}
@media(min-width:1720px){.container {max-width: 1620px;}}
@media(min-width:1820px){html{font-size: 18px;} .container {max-width: 1720px;}}
@media(min-width:1920px){html{font-size: 20px;} .container {max-width: 1820px;}}

/* ========== UI Styles ended ========== */

header {background: var(--grey);}

/* Logo */
.logo {max-width: 180px;}
.logo img {width: 100%; display: block;}
@media(min-width:991.99px){
    .logo {max-width: 235px;}
}

/* Search Bar */
.searchBar {overflow: hidden; position: absolute;top: 50%;left: 0;transform: translateY(-50%);}
.searchBar .form-control {border: 0; background: transparent; border-radius: 0; color: var(--blue);}
.searchBar .form-control::placeholder {color: var(--blue);}
.searchBar .searchBtn {background: none; border: 0; padding: 0 10px; transition: all 0.3s ease-in-out;}
.searchBar .searchBtn svg {width: 15px; height: 15px; fill: var(--blue); transition: fill 0.3s ease-in-out;}
.searchBar .searchBtn:hover {background: var(--blue);}
.searchBar .searchBtn:hover svg {fill: var(--white);}

@media(min-width:991.99px){
    .searchBar {border: 1px solid rgba(57, 57, 57, 0.10); min-width: 260px;}
}

@media(max-width:991.99px){
    .mobileSearchBtn {width:25px;height:25px; position: relative; background: transparent; border: 0;}
    .mobileSearchBtn span {transition:all .2s ease}

    .mobileSearchBtn span.circle {width:19px;height:19px;display:block;border:2px solid #111;position:absolute;bottom:3px;left:0;border-radius:50%;transform:rotate(0deg);transform-origin:0% 50%}

    .mobileSearchBtn span.line {width:8px;height:2px;display:block;background:#111;position:absolute;bottom:0;right:1px;transform:rotate(45deg);transform-origin:100% 50%;border-radius:2px}

    
.mobileSearchBtn.active span.circle {width:100%;height:2px;border-radius:0;border:0;background:#111;transform:rotate(-45deg);bottom:3px;left:3px}
.mobileSearchBtn.active span.line  {width:100%;bottom:3px;right:3px}

    .searchWrapper {display: none;}
}


/* Social Bar */
.socialBar {display: flex; justify-content: center;}
.socialBar li {margin: 0 5px;}
.socialBar a {display: flex; align-items: center; justify-content: center; width: 35px; height: 35px; border: 1px solid var(--white); border-radius: 100%; position: relative; overflow: hidden;}
.socialBar a svg {width: 15px; height: 15px; fill: var(--white);  transition: fill 0.3s ease-in-out;}
@media(min-width:991.98px){
    .socialBar {position: absolute;top: 50%;right: 0;transform: translateY(-50%);}
    .socialBar a {border: 1px solid var(--black);}
    .socialBar a::before {content: ''; z-index: -1; position: absolute; top: 0; left: 0; right: 0; bottom: 0; transform: scale(0); transform-origin: 50% 50%; background: var(--gradient); border-radius: 100%; transition: transform 0.3s ease-in-out;}
    .socialBar a:hover:before {transform: scale(100%);}
    .socialBar a svg {fill: var(--black);}
    .socialBar a:hover svg {fill: var(--white);}
}

/* Menu */
.menuBtn {width:30px;height:30px;position:absolute; top:50%; right: 0; transform: translateY(-50%); background:transparent;border:0}
.menuBtn span {width:100%;height:2px;display:block;background:#111;margin:auto;position:absolute;left:0;right:0;transition:all .25s ease-in-out;border-radius:2px}
.menuBtn span:nth-child(1) {top:15%}
.menuBtn span:nth-child(2), .menuBtn span:nth-child(3) {top:50%}
.menuBtn span:nth-child(4) {top:85%}
.menuBtn.active span:nth-child(1), .menuBtn.active span:nth-child(4) {width:0;top:50%}
.menuBtn.active span:nth-child(2) {-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg)}
.menuBtn.active span:nth-child(3) {-webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg)}

.menuList > li:last-child a {background:var(--white); color: var(--blue); padding:0.50rem 2rem; font-size: 1.2rem;}

@media (max-width:991.98px) {
    .navigHolder {max-width:600px;width:80%;height:100%;position:fixed;top:0;left:-120%;display:block;background:var(--blue);transition:all .5s ease;padding:40px 0;box-shadow:20px 0 40px rgba(0,0,0,.5);overflow:auto}
    .navigHolder.open {left:0}
    .menuList > li {position:relative;color:#fff;border-bottom:1px solid rgba(255,255,255,.1)}
    .menuList > li > a {font-weight:700;font-size:1.2rem;color:#fff;padding:20px 15px;display:block}
    .menuList > li > ul {display:none;background:#fff;padding:15px;position:relative;box-shadow:inset 0 15px 20px rgba(0,0,0,.1)}
    .menuList > li > ul:before {content:'';border-top:7px solid var(--blue);border-left:8px solid transparent;border-right:8px solid transparent;display:block;position:absolute;top:0;left:20px}
    .menuList > li > ul li {margin-left:0 !important}
    .menuList > li > ul li a {padding:7px 15px;display:block;color:#000;font-size:1.1rem}
    .menuList > li > ul li a:hover {background:#f6f6f6}
    .menuList > li > a[role=button]:after {content:'+';float:right;font-size:1.4rem}
    .menuList > li.open > a[role=button]:after {content:'-'}
}

@media (min-width:991.99px) {
    .navigHolder {display:block;position:static; background: linear-gradient(90deg, #00B4F6 0%, #008EC2 19.58%, #6692D4 35.73%, #8D7DC5 55%, #BA66B4 75.31%, #DE53A7 100%);}
    .menuList > li {position:relative;}
    .menuList > li {margin:0 2rem;}
    .menuList > li:not(:last-child) > a {padding:1.3rem 0; position: relative;}
    .menuList > li:not(:last-child) > a::before {content: ''; position: absolute; bottom: 0; left: 0; right:0; width: 100%; height: 5px; background: var(--white); transform: scale(0); transform-origin: center; transition: all 0.3s ease-in-out;}
    .menuList > li:not(:last-child) > a:hover:before {transform: scale(1);}
    .menuList > li > a {font-weight:300;font-size:1rem;color: var(--white);display:block}
    .menuList > li.active > a {font-weight:600}
    
    .menuList > li > ul {display:block;width:250px;position:absolute;top:100%;left:-15px;filter:drop-shadow(0 30px 20px rgba(0,0,0,.3));opacity:0;transition:all .2s ease;visibility: hidden}
    .menuList > li:hover > ul {display:block;opacity:1;visibility:visible;top:100%}
    .menuList > li > ul li {margin-left:0 !important;background:var(--blue)}
    .menuList > li > ul li a {padding:9px 15px;display:block;font-size:.9rem;transition:all .3s ease;color:var(--white);}
    .menuList > li > ul li a:hover {color:var(--blue);background:var(--white)}
    .menuList > li > ul li:last-child {border-radius:0 0 4px 4px}
}
    
@media (min-width:1400px) {
    .menuList li a {font-size:1rem}
}
