@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* font-family: 'IBM Plex Sans', sans-serif; */

:root {
    --blue :#004D66;
    --skyBlue :#00B4F6;
    --lightBlue :#6891D3;
    --pink:#DE53A7;
    --white:#fff;
    --grey:#FCFCFC;
    --black:#393939;
    --gradient: linear-gradient(90deg, #00B4F6 1.36%, #4D9ADC 21.4%, #8482C9 41.95%, #B06BB8 64.01%, #BA66B4 83.56%, #DE53A7 97.75%);

    
}

html {font-size: 12px;}
body {font-family: 'Poppins', sans-serif; font-size: 1rem; color: var(--black); font-weight: 300;}



::-webkit-scrollbar{width:7px;background-color:var(--grey)}
::-webkit-scrollbar-thumb{background-color:var(--black);}
::selection{background:#222;color:#fff}
::-moz-selection{background:#222;color:#fff}

ul, li {margin: 0; padding: 0; list-style: none;}
a, a:focus {text-decoration: none; color: inherit;}
.form-control, .form-control:focus {outline: none; box-shadow: none;}

p {line-height: 1.7rem; font-size: 1rem;}

/* Animation */
.animateThis {position:relative;will-change:opacity transform}
.slideLeft {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;-moz-transform: translate3d(50px, 0px, 0px);-webkit-transform: translate3d(50px, 0px, 0px);-o-transform: translate3d(50px, 0px, 0px);-ms-transform: translate3d(50px, 0px, 0px);transform: translate3d(50px, 0px, 0px)}
.slideLeft.in-view {opacity: 1;-moz-transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-o-transform: translate3d(0px, 0px, 0px);-ms-transform: translate3d(0px, 0px, 0px);transform: translate3d(0px, 0px, 0px)}
.slideRight {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;-moz-transform: translate3d(-50px, 0px, 0px);-webkit-transform: translate3d(-50px, 0px, 0px);-o-transform: translate3d(-50px, 0px, 0px);-ms-transform: translate3d(-50px, 0px, 0px);transform: translate3d(-50px, 0px, 0px)}
.slideRight.in-view {opacity: 1;-moz-transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-o-transform: translate3d(0px, 0px, 0px);-ms-transform: translate3d(0px, 0px, 0px);transform: translate3d(0px, 0px, 0px)}
.slideTop {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;-moz-transform: translate3d(0px, 50px, 0px);-webkit-transform: translate3d(0px, 50px, 0px);-o-transform: translate3d(0px, 50px, 0px);-ms-transform: translate3d(0px, 50px, 0px);transform: translate3d(0px, 50px, 0px)}
.slideTop.in-view {opacity: 1;-moz-transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-o-transform: translate3d(0px, 0px, 0px);-ms-transform: translate3d(0px, 0px, 0px);transform: translate3d(0px, 0px, 0px)}
.fadeGrow {opacity:0;-moz-transition: all .7s ease;-webkit-transition: all .7s ease;-o-transition: all .7s ease;transition: all .7s ease;-moz-transform:scale(.5);-webkit-transform:scale(.5);-o-transform:scale(.5);-ms-transform:scale(.5);transform:scale(.5)}
.fadeGrow.in-view {opacity:1;-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.fadeIn {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease} *
.fadeIn.in-view {opacity:1}

@-webkit-keyframes rotation { from { -webkit-transform: rotate(0deg);} to { -webkit-transform: rotate(360deg);}}
@-moz-keyframes rotation { from { -moz-transform: rotate(0deg);} to { -moz-transform: rotate(360deg);}}
@-o-keyframes rotation { from { -o-transform: rotate(0deg);} to { -o-transform: rotate(360deg);}}
@keyframes rotation { from { transform: rotate(0deg);} to { transform: rotate(360deg);}}

/* ========== UI Styles stared ========== */
@media(min-width:1140px){.container {max-width: 1020px;}}
@media(min-width:1240px){.container {max-width: 1120px;}}
@media(min-width:1320px){html{font-size: 14px;}  .container {max-width: 1220px;}}
@media(min-width:1440px){.container {max-width: 1320px;}}
@media(min-width:1540px){.container {max-width: 1420px;}}
@media(min-width:1640px){html{font-size: 16px;}  .container {max-width: 1520px;}}
@media(min-width:1740px){.container {max-width: 1620px;}}
@media(min-width:1840px){html{font-size: 18px;} .container {max-width: 1720px;}}
@media(min-width:1940px){html{font-size: 20px;}.container {max-width: 1720px;}}

.ctaBtn {border-radius: 5px; text-transform: capitalize; border: 0; background: linear-gradient(90deg, #00B4F6 1.36%, #4D9ADC 21.4%, #8482C9 41.95%, #B06BB8 64.01%, #BA66B4 83.56%, #DE53A7 97.75%); color: var(--white); display: inline-block; min-width: 170px; text-align: center; padding: .7rem 2.5rem; position: relative; overflow: hidden; transition: all .3s ease; z-index: 1;}
.ctaBtn:before {content: "";transition: all .85s ease;position: absolute;top: 0;left: -100%;width: 20%; height: 100%;background: var(--white);filter: blur(20px);opacity: .7;transform: skewX(-40deg)}
.ctaBtn:hover:before {left: 120%}




.swiper-button-prev, .swiper-button-next {--swiper-navigation-size: 16px; --swiper-navigation-color: var(--blue); display: flex; justify-content: center; align-items: center; margin: 0; width: 3rem; height: 3rem; border: 1px solid var(--blue); border-radius: 100%; background: none; text-align: center; transition: all 0.3s ease-in-out;}
.swiper-button-prev:hover, .swiper-button-next:hover {--swiper-navigation-color: var(--white); background: var(--blue);} 
.swiper-button-prev:after, .swiper-button-next:after {line-height: inherit;}

.title {color: var(--blue); font-size: 2rem; text-transform: uppercase; position: relative; z-index: 1; display: block; margin:0 auto;text-align: center;}
.title span {position: absolute;top: 50%;left: 0;right: 0;text-align: center;color: transparent;transform: translateY(-50%);font-size: 4.5rem;  z-index: -1;-webkit-text-stroke: 0.5px rgb(0 77 102 / 20%);}

@media(max-width:575.99px){
    .title span {display: none;}
}

main {overflow-x: hidden;}
/* 
.shadow {box-shadow:0px 4px 55px 0px rgba(0, 0, 0, 0.15)!important;} */

/* ========== UI Styles ended ========== */

/*Loder css*/
.preloader{position:fixed;background-color:#fff;z-index:99999;width:100%;height:100%;overflow:hidden; display: flex; justify-content: center; align-items: center;}
.status {width: 100px; height: 100px; position: relative;}
.path-placeholder{background: var(--gradient); border-radius: 100%; position: absolute; top: 5px; left: 5px; right:5px; bottom: 5px; overflow: hidden; z-index: -1;}
.path-placeholder::after {content: '';position: absolute;top: 3px;left: 3px; right: 3px ;bottom: 3px; background: var(--white);border-radius: 100%;margin: auto;}
.mover {content: ''; display: block; width: 10px; height: 10px; border-radius: 100%; background: var(--gradient);     animation: spin 3s infinite linear; margin: 0 auto 0; transform-origin: 50% 49px; position: relative;}
.mover::after {content: '';position: absolute;top: 2px;left: 2px;right: 2px;bottom: 2px; background: var(--white);border-radius: 100%;margin: auto;}

@keyframes spin { 
    to { transform: rotate(1turn); } 
  }
header {background: var(--grey); z-index: 999; position: sticky; top: 0; left: 0; width: 100%;}
@media(max-width:991.99px){
    header {box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);}
}
/* Logo */
.logo {max-width: 180px;}
.logo img {width: 100%; display: block;}
@media(min-width:991.99px){
    .logo {max-width: 235px;}

    .containerPos {position: relative;}
}
@media(min-width:1600.99px){
    .logo {max-width: 300px;}
}
/* Search Bar */
.searchBar {overflow: hidden; position: absolute;left: 0;}
.searchBar .form-control {border: 0; background: transparent; border-radius: 0; color: var(--blue);}
.searchBar .form-control::placeholder {color: var(--blue);}
.searchBar .searchBtn {background: none; border: 0; padding: 0 10px; transition: all 0.3s ease-in-out;}
.searchBar .searchBtn svg {width: 15px; height: 15px; fill: var(--blue); transition: fill 0.3s ease-in-out;}

@media(min-width:991.99px){
    .searchBar {border: 1px solid rgba(57, 57, 57, 0.10); min-width: 260px; top: 50%; transform: translateY(-50%);}
}

@media(max-width:991.99px){
    .mobileSearchBtn {width:25px;height:25px; position: relative; background: transparent; border: 0;}
    .mobileSearchBtn span {transition:all .2s ease}
    .mobileSearchBtn span.circle {width:19px;height:19px;display:block;border:2px solid #111;position:absolute;bottom:3px;left:0;border-radius:50%;transform:rotate(0deg);transform-origin:0% 50%}
    .mobileSearchBtn span.line {width:8px;height:2px;display:block;background:#111;position:absolute;bottom:0;right:1px;transform:rotate(45deg);transform-origin:100% 50%;border-radius:2px}
    .mobileSearchBtn.active span.circle {width:100%;height:2px;border-radius:0;border:0;background:#111;transform:rotate(-45deg);bottom:3px;left:3px}
    .mobileSearchBtn.active span.line  {width:100%;bottom:3px;right:3px}

    .searchBar {display: none; background: var(--blue); position: absolute; top: 100%; left: 0; width: 100%; height: 200px; box-shadow: 0 40px 40px rgba(0,0,0,.5);}
    .searchBar .form-control {border-bottom: 1px solid var(--white); padding: 1.2rem 0; color: var(--white); margin-right: 1rem;}
    .searchBar .form-control::placeholder {color: var(--white);}
    .searchBar .searchBtn {background: var(--white); width: 4rem; height: 4rem; border-radius: 100%!important;}
    .searchBar .searchBtn svg {width: 60%; height: 60%;}
}
 

/* Social Bar */
.socialBar {display: flex; justify-content: center;}
.socialBar li {margin: 0 5px;}
.socialBar a {display: flex; align-items: center; justify-content: center; width: 35px; height: 35px; border: 1px solid var(--white); border-radius: 100%; position: relative; overflow: hidden;}
.socialBar a svg {width: 15px; height: 15px; fill: var(--white);  transition: fill 0.3s ease-in-out;}
@media(min-width:991.98px){
    .socialBar {position: absolute;top: 50%;right: 0;transform: translateY(-50%);}
    .socialBar a {border: 1px solid var(--black);}
    .socialBar a::before {content: ''; z-index: -1; position: absolute; top: 0; left: 0; right: 0; bottom: 0; transform: scale(0); transform-origin: 50% 50%; background: var(--gradient); border-radius: 100%; transition: transform 0.3s ease-in-out;}
    .socialBar a:hover:before {transform: scale(100%);}
    .socialBar a svg {fill: var(--black);}
    .socialBar a:hover svg {fill: var(--white);}
}

/* Menu */
.menuBtn {width:30px;height:30px;position:relative; background:transparent;border:0}
.menuBtn span {width:100%;height:2px;display:block;background:#111;margin:auto;position:absolute;left:0;right:0;transition:all .25s ease-in-out;border-radius:2px}
.menuBtn span:nth-child(1) {top:15%}
.menuBtn span:nth-child(2), .menuBtn span:nth-child(3) {top:50%}
.menuBtn span:nth-child(4) {top:85%}
.menuBtn.active span:nth-child(1), .menuBtn.active span:nth-child(4) {width:0;top:50%}
.menuBtn.active span:nth-child(2) {-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg)}
.menuBtn.active span:nth-child(3) {-webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg)}
/* 
.menuList > li:last-child a {background:var(--white); color: var(--blue); border-radius: 8px; text-align: center; padding:0.50rem 2rem; transition: all 0.3s ease-in-out;}
.menuList > li:last-child a:hover {background: var(--skyBlue); color: var(--white);} */

@media (min-width:991.99px) {
    .navigHolder {display:block;position:static; background: linear-gradient(90deg, #00B4F6 0%, #008EC2 19.58%, #6692D4 35.73%, #8D7DC5 55%, #BA66B4 75.31%, #DE53A7 100%);}
    .menuList > li {position:relative;}
    .menuList > li {margin:0 2rem;}
    .menuList > li > a {padding:1rem 0; position: relative;}
    .menuList > li > a::before {content: ''; position: absolute; bottom: 0; left: 0; right:0; width: 100%; height: 5px; background: var(--white); transform: scale(0); transform-origin: center; transition: all 0.3s ease-in-out;}
    .menuList > li > a:hover:before {transform: scale(1);}
    .menuList > li > a {font-size:1rem;color: var(--white);display:block}
    .menuList > li.active > a {font-weight:600}
    
    .menuList > li > ul {display:block;width:250px;position:absolute;top:100%;left:-15px;filter:drop-shadow(0 30px 20px rgba(0,0,0,.3));opacity:0;transition:all .2s ease;visibility: hidden}
    .menuList > li:hover > ul {display:block;opacity:1;visibility:visible;top:100%}
    .menuList > li > ul li {margin-left:0 !important;background:var(--white)}
    .menuList > li > ul li a {padding:9px 15px;display:block;/*font-size:.9rem;*/transition:all .3s ease;color:var(--black);}
    .menuList > li > ul li a:hover {color:var(--white);background:var(--skyBlue)}
    .menuList > li > ul li:last-child {border-radius:0 0 4px 4px}
}
    
@media (min-width:1400px) {
    .menuList li a {font-size:1rem}
}

@media (max-width:991.98px) {
    .navigHolder {max-width:600px;width:80%;height:100%;position:fixed;top:0;left:-120%;display:block;background:linear-gradient(180deg, #00B4F6 1.36%, #4D9ADC 21.4%, #8482C9 41.95%, #B06BB8 64.01%, #BA66B4 83.56%, #DE53A7 97.75%);transition:all .5s ease;padding:40px 0;box-shadow:20px 0 40px rgba(0,0,0,.5);overflow:auto}
    .navigHolder.open {left:0}
    .menuList > li {position:relative;color:#fff;border-bottom:1px solid rgba(255,255,255,.1); margin: 0;}
    .menuList > li > a {font-weight:700;font-size:1.2rem;color:#fff;padding:20px 15px;display:block}
    .menuList > li > ul {display:none;background:#fff;/*padding:15px;*/position:relative;}
    /* .menuList > li > ul:before {content:'';border-top:7px solid var(--white);border-left:8px solid transparent;border-right:8px solid transparent;display:block;position:absolute;top:0;left:20px} */
    .menuList > li > ul li {margin-left:0 !important}
    .menuList > li > ul li a {padding:10px 15px;display:block;color:#000;}
    /* .menuList > li > ul li a:hover {background:#f6f6f6} */
    .menuList > li > a[role=button]:after {content:'+';float:right;font-size:1.4rem}
    .menuList > li.open > a[role=button]:after {content:'-'}

    .menuList > li:last-child {margin-bottom: 1rem;}

}



/* Footer */
footer a { transition: all 0.3s ease-in-out;}
footer a[href]:hover {color: var(--black); }
footer a[role=button] {cursor:inherit}

.footScBar {border-top: 1px solid #D9D9D9;}
.footScBar a {text-align: center; padding: 2rem 0; font-size: 1.3rem; transition: all 0.3s ease-in-out;}
.footScBar a.linked:hover {background: #0A66C2; color: var(--white);}
.footScBar a.fb:hover {background: #3b5998; color: var(--white);}
.footScBar a.insta:hover {background: #f09433;  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); color: var(--white);}
.footScBar a.yt:hover {background: #CD201F; color: var(--white);}
.footScBar a.twit:hover {background: #00acee; color: var(--white);}
.footScBar a svg {width: 1.5rem; height: 1.5rem; fill: var(--black); transition: all 0.3s ease-in-out;}
.footScBar a:hover svg {fill: var(--white);}
@media(max-width:991.99px){
    .footScBar a {font-size: 1rem; padding: 1rem 0.35rem;}  
}
@media(max-width:768.99px){
    .footScBar a {font-size: 0.75rem; }  
}



.footMainWrp {background: var(--gradient); color: var(--white);}
.footHead {font-weight: 500; text-transform: capitalize; position: relative; margin-bottom: 2rem; font-size: 1rem; padding-left: 1rem; line-height: 1.3rem; display: block;}
.footHead::before {content: '/'; position: absolute; top: 0; left: 0; font-size: 1rem;}

.subBorder {border-right: 1px solid rgba(255, 255, 255, 0.19);}
.subscribeForm {background: rgba(255, 255, 255, 0.09); border: 1px solid rgba(217, 217, 217, 0.20); border-radius: 100px; overflow: hidden;}
.subscribeForm .form-control {background: none; border: none; color: var(--white); padding: 1rem; text-transform: capitalize;}
.subscribeForm .form-control::placeholder {color: var(--white);}
.subscribeForm button {background: none; display: block; margin:0 5px 0 0; width: 2.5rem; height: 2.5rem; border: 1px solid var(--white); border-radius: 100px!important; transition: all 0.3s ease-in-out;}
.subscribeForm button:hover {background: var(--white);}
.subscribeForm button:hover svg {fill: var(--black);}

.contactInfo td {vertical-align: top; padding: 0.65rem 0.20rem; font-size: 0.90rem;}
.contactInfo td:first-child {white-space: nowrap;}

.footList li {margin-bottom: 1rem;}
.footList li a {display: block; height: 100%; border-bottom:1px solid rgba(255, 255, 255, 0.19); padding:0 0 1rem 0; text-transform: capitalize; font-size: 0.90rem;}

.copyrightWrp {font-size: 0.90rem;}

@media(max-width:1200.99px){
    .mobileFootBox {border-bottom:1px solid rgba(255, 255, 255, 0.19); margin-bottom: 1rem;}
    .mobileFootBox .footList {display: none;}
    .footHead {margin-bottom: 1rem;}
    .mobileFootBox .footHead[role=button]:after {content: '+'; position: absolute; top:0; right: 0; font-size: 1.5rem;}
    .mobileFootBox .footHead[role=button].active:after {content: '-';}
    .mobileFootBox .footList li a {border: 0; padding: 0;}
}
@media(max-width:768.99px){
    .subBorder {border: 0;}
}


.gfqBtn {position: fixed; top: 50%; right:0; z-index: 999; transform: translateY(-50%) rotate(-90deg);
    transform-origin: 100% 100%; padding: 0.8rem 1.5rem; overflow: hidden; color: var(--white); border-radius: 10px 10px 0 0; text-transform: capitalize;} 
    .gfqBtn::before {content:'' ; position: absolute; top: 0;   width: 2000px; height: 100%; background-image: linear-gradient(90deg, rgba(255,205,83,1) 0%, rgba(249,140,50,1) 15%, rgba(224,35,65,1) 30%, rgba(100,53,139,1) 45%, rgba(54,62,137,1) 60%, rgba(0,95,187,1) 75%, rgba(26,124,201,1) 87%, rgba(134,193,87,1) 100%);z-index: -1; animation: gradient 6s infinite alternate-reverse; }  

    @keyframes gradient {0% {left:0px} 100% {left:-1000px}}

    .patternBg {background: url(../images/pattern.png), #fff 50% / cover no-repeat; }



/* Resources */
.resourcesTab .nav button {background: none; border: 0; font-weight: 300; padding:0.5rem 2rem; border-radius: 100rem; font-size: 1.1rem; transition: all 0.3s ease-in-out;}
.resourcesTab .nav button.active {background: var(--blue); color: var(--white);}

.resourcesSwiper {position: relative;}
.resourcesSwiper .swiper-slide {height: auto;}
.resourcesSwiper .swiperArw {position: absolute; top: 0; right: 0;}
.resourcesBox {height: 100%; padding-bottom: 50px; position: relative;}
.resourcesBox .resourcesPic {height: 0; position: relative; padding-top: 60%; margin-bottom: 1rem;}
.resourcesBox .resourcesPic::before {content: ''; position: absolute; top: 0; left: 0; width: 100%;  height: 100%; background: linear-gradient(180deg, rgba(0, 77, 102, 0.00) 0%, #004D66 100%); opacity: 0; z-index: 1; transition: all 0.3s ease-in-out;}
.resourcesBox:hover .resourcesPic::before {opacity: 1;}
.resourcesBox .resourcesPic::after {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 50px; height: 50px; border-radius: 100%; z-index: 2; transform: scale(0); transform-origin: 50% 50%; transition: all 0.3s ease-in-out; background: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23fff' width='30'  height='30' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z' clip-rule='evenodd'/></svg>"), var(--gradient); background-repeat: no-repeat;  background-position: center;}
.resourcesBox:hover .resourcesPic::after {transform: scale(1);}
.resourcesPic img {width: 100%; height: 100%; position: absolute; top:0; left: 0; object-fit: cover;}
.resourcesBox h4 {font-size: 1.1rem; margin: 0; line-height: 1.5rem; font-weight: normal  ;  transition: all 0.3s ease-in-out;}
.resourcesBox span {font-weight: 600; font-size: 0.85rem; transition: all 0.3s ease-in-out;}
.resourcesBox:hover span {color: var(--skyBlue);} 

.resourcesBox:hover h4 {text-decoration: underline; color: var(--blue); }

.swiper-res-prev, .swiper-res-next {top: -5.5rem;}
.swiper-res-prev {left: auto; right: 4.5rem;}

@media (min-width:991.99px){
    .resourcesWrp .ctaBtn {position: absolute; top: 10px; right: 15px;}

}

@media(max-width:991.99px){
.swiper-res-prev, .swiper-res-next {top: -4.5rem;} 
}
@media(max-width:768.99px){
    .swiper-res-prev, .swiper-res-next {display: none;} 
    }
@media(max-width:575.99px){
    .resourcesTab .nav button {padding: 0.5rem 1rem;}
}

.blogDate {border-top: 1px solid #D9D9D9; padding-top: 1rem; position: absolute; bottom: 0; left: 0; width: 100%; text-transform: capitalize;}
.blogDate svg {width: 1.2rem; height: 1.2rem; fill: rgba(0, 0, 0, 0.53);}



  /* Connect */
/* .connectWrp {background: var(--grey);} */
.connectWrp h3 {font-size: 2.5rem; color: var(--blue); font-weight: 400; text-transform: capitalize;}

@media(max-width:991.99px){
    .connectWrp h3 {font-size: 2rem;}
}

.popup {display: none;}
.getForm {max-width: 700px;}
.getForm .form-control {height: 48px;}
.getForm textarea.form-control {height: 80px;}

  