.modal-custom-width {
    max-width: 75%;
    width: 75%;
}

@media (max-width: 575.98px) {
    .modal-custom-width {
        max-width: 90%;
        width: 90%;
    }

}

/* team page */

.corpTeam {}


.corpTeam .teamImgBox {
    position: relative;
    transition: all 0.3s ease-in-out;
  
}
.corpTeam .teamImgBox img {
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  
}
.corpTeam .slideRight.in-view{
    z-index: 1;
}

.corpTeam .teamImgBox img:hover {
    border: 1px solid rgba(0, 77, 102, 0.15);
    box-shadow: 0px 0px 0px 2px rgba(0, 77, 102, 1);
}

.corpTeam .bluebox {
    background-color: #004D66;
    padding: 20px;
    color: #fff;
    width: 600px;
    margin-left: -20%;
    padding-left: 20%;
}

@media (max-width: 575.98px) {
    .corpTeam .bluebox {
        margin-left: 0%;
        padding-left: 5%;
    }
}


.corpTeam .bluebox h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    color: #ffffffbd;
    font-family: Poppins;
}


.corpTeam .teaminfo {
    width: 90%;
}


.red-button {
    display: inline-block;
    padding: 10px 0px;
    color: #004D66;
    /* Initial red text color */
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    transition: color 0.3s, background-color 0.3s;
}
@media (max-width: 406px) { .red-button {   
    font-size: 11px;
} }

.red-button:hover {
    color: #000000;
    /* Black text color on hover */
}

.linkedin-icon {
    padding: 10px;
    background-color: #0077B5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.linkedin-icon:hover {
    background-color: #005b8d;
}

.icon {
    position: relative;
    text-align: center;
    width: 0px;
    height: 0px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    border: none;
}

.icon i {
    font-size: 20px;
    position: absolute;
    left: 11px;
    top: 10px;
}
.icon-left{
    font-size: 20px;
    position: absolute;
    left: 12px;
    top: 10px;
}

.icon.social {
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    background: rgba(0, 77, 102, 0.6);
    color: #ffffff;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    position: absolute;
    top: 85%;
    right: 8%;
}


@media (max-width: 1399.98px) { 
    .icon.social { 
        top: 80%;
        right: 8%;
    }}

    @media (max-width: 1199.98px) {  .icon.social { 
        top: 68%;
        right: 8%;
    } }
    @media (max-width: 991.98px) { .icon.social { 
        top: 68%;
        right: 8%;
    }  }

    @media (max-width: 767.98px) { .icon.social { 
        top: 76%;
        right: 8%;
    }   }

    @media (max-width: 575.98px) { .icon.social { 
        top: 86%;
        right: 8%;
    }  }


.icon.social:hover {
    background: #0077b5;
    color: #eaf8ff;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    border: none;
    /* -webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	 */
}





.icon.social.fb i {
    left: 13px;
    top: 10px;
}

.icon.social.tw i {
    left: 11px;
}

.icon.social.in i {
    left: 11px;
}



.icon.social1 {
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    background: rgba(0, 77, 102, 0.6);
    color: #ffffff;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    position: absolute;
    top: 85%;
    right: 8%;
}




    @media (max-width: 1399.98px) { 
        .icon.social1 { 
            top: 80%;
            right: 8%;
        }}

        @media (max-width: 1199.98px) {  .icon.social1 { 
            top: 70%;
            right: 8%;
        } }
    
        @media (max-width: 1060px) {  .icon.social1 { 
            top: 70%;
            right: 8%;
        } }
    

  

.icon.social1:hover {
    background: #0077b5;
    color: #eaf8ff;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    border: none;
    /* -webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	 */
}





.icon.social1.fb i {
    left: 13px;
    top: 10px;
}

.icon.social1.tw i {
    left: 11px;
}

.icon.social1.in i {
    left: 11px;
}






/* team page */


@media(max-width:767.98px){
    .orderMobile .order-first {order:1!important;}
}

@media(max-width:575.98px){
    .orderMobile .order-first {order:1!important;}
}


.bottompagination .active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #de53a7;
    border-color: #de53a7;}


    .bottompagination .page-link {   
        color: #000000;
      }
      .bottompagination .page-link:hover {   
        color: #de53a7;
      }


      /* custom dropdown for select state */

      .selectState .custom-dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .selectState .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        border: #54545436 1px solid;
        list-style-type: none;
        padding: 0;
        margin: 0;
        z-index: 1;
        min-width: 200px;
        height: 46vh;
        overflow: scroll;
    }
    
    .selectState .dropdown-content li {
        padding: 8px;
        cursor: pointer;
        width: 250px;
    }

    .selectState .dropdown-content li:hover {
        color: #fff;
        background-color: #1967d2;
    }

    .selectState .selected-option {
        padding: 8px;
        border: 1px solid #e6e6e6;
        cursor: pointer;
        width: 100%;
    }
 
    


    @media (max-width: 767.98px) { 
.wagestate{
    margin-bottom: 20px;
}
        
    }


    /* custom dropdown for select state */
    /* --------------------effective-date -------------- */
    .effective-date-col-1 p{
        /* float: ; */
        font-weight: 500;
        text-align: right;
    }
    .effective-date-row input{
        width: 100%;
    }
    @media (max-width: 991px) {
        .effective-date-col-1 p{
            text-align: start;
        }
     }
     .updated-date{
        text-align: end;
     }
     @media (max-width: 991px) {
        .updated-date{
            text-align: start;
        }
     }
     /* --------------------------- date picker --------------------------------------- */
     
    
     input[type="date"] {
        position: relative;
     
    }
    input[type="date"]:after {
        content: "\25BC"; 
        color: #555;
        padding: 0 5px;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
        cursor: pointer;

    }
    input[type="date"]::-webkit-inner-spin-button {
        z-index: 1;
    }
    input[type="date"]::-webkit-clear-button {
        z-index: 1;
    }