.libraryInput .input-group {width: 100%;border: 1px solid rgba(51, 51, 51, 0.10);}


.libraryInput .form-control {border: 1px solid rgba(51, 51, 51, 0.10);min-width: 200px;color: #393939;height: 45px;}


.libraryInput .form-control:focus {border-color: rgb(189, 185, 185);}

.state {box-shadow: rgba(141, 139, 139, 0.35) 0px 5px 15px;background: var(--white);padding: 30px;}

.state .ctaBtn {word-spacing: 10px;}

.state h5 {color: var(--blue);margin-bottom: 1rem;font-weight: 500;text-transform: uppercase;}

.stateList li {position: relative;}

.stateList li:not(:last-child)::after {content: '|';position: absolute;top: 0;right: 0;font-size: 1rem;}

@media(max-width:575px) {
.state{
      padding: 15px;  
}
}